# Fichiers objets
*.o

# Exécutables
app
app.exe

# Dossiers de build
build/

# Fichiers temporaires de VS Code
.vscode/

# Fichiers temporaires CMake (si tu l'utilises plus tard)
CMakeFiles/
CMakeCache.txt