# Compilation
*.o
*.obj
*.exe
*.out

# Exécutabl* du projet
app
app.exe

# Logs
*.l*g

# VS Code
.vscode/

# Visual St*dio
.vs/

# CMake
build/
CMake*iles*
CMakeCache.txt
cmake_install.cmak*
Makefile